:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --total-white: #ffffff;
  --second-bg-color: #f5f4fa;
  --total-black: #000000;
  --background-hero-footer: #2f303a;
  --color-white: rgb(255, 255, 255, 0.6);
  --card-gap: 30px;
  --color-icons: #afb1b8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  background-color: var(--total-white);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  margin-top: 20px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */

.header {
  background-color: var(--total-white);
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-studio {
  color: var(--total-black);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item-nav:not(:last-child) {
  margin-right: 50px;
}

.link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-nav:hover,
.link-nav:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  color: var(--primary-text-color);
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.hdr-icon {
  fill: currentColor;
}

/* Hero */

.hero {
  background-color: #C4C4C4;;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/herobgrnd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  color: var(--total-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  max-width: 700px;
  margin: 0 auto;
  margin-bottom: var(--card-gap);
}

.button-hero {
  color: var(--total-white);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  border-color: transparent;
  border-radius: 4px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #188ce8;
}

/* Feature */

.title {
  color: var(--title-text-color);
}

.feature-list {
  display: flex;
}

.feature-card {
  width: calc((100% - 90px) / 4);
}

.feature-list .feature-card:not(:last-child) {
  margin-right: var(--card-gap);
}

.icon {
  display: flex;
  height: 120px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  background-color: var(--second-bg-color);

  margin-bottom: 30px;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

/* work */

.section-work {
  padding-top: 0;
}

.work-list {
  display: flex;
}

.work-card {
  flex-basis: auto;
}

.work-thumb {
  position: relative;
}

.work-name {
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--total-white);

   margin-top: 27px;
}

.work-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);;
}

.work-list .work-card:not(:last-child) {
  margin-right: var(--card-gap);
}

/* team */

.team {
  background-color: var(--second-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-team {
  background-color: var(--total-white);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-team .card-team:not(:last-child) {
  margin-right: var(--card-gap);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}

.list-team {
  display: flex;
}

.team-skills {
  padding: var(--card-gap) 10px;
}

.social {
  display: flex;
  justify-content: center;
}

.social-link {
  width: 44px;
  height: 44px;
  display: flex;
  box-sizing: border-box;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--color-icons);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
  fill: var(--total-white);
  background-color: var(--accent-color);
}

/* clients */
.clients {
  background-color: var(--total-white);
}
.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  box-sizing: border-box;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: var(--color-icons);
}

.clients-list .clients-card:not(:last-child) {
  margin-right: var(--card-gap);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Examples */

.examples {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
}

.examples-thumb {
  position: relative;
  overflow: hidden;
}

.examples-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms ease;
}

.examples-overlay-text {

font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
text-align: left;

color: var(--total-white);

margin: 63px 24px;
}

.examples-link:hover .examples-overlay {

  transform: translateY(0);
}



.examples .examples-card {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

.examples-link {
  display: block;
}

.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.examples-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.examples-variety {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.filtr {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filtr-button {
  background-color: var(--second-bg-color);
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-color: transparent;
  border-radius: 4px;

  padding: 6px 22px;
}

.filtr-button:hover,
.filtr-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filtr .filtr-item:not(:last-child) {
  margin-right: 8px;
}

.filtr-button:hover,
.filtr-button:focus {
  color: var(--total-white);
  background-color: var(--accent-color);
}

/* footer */

.footer {
  background-color: var(--background-hero-footer);

  padding-top: 60px;
  padding-bottom: 60px;

  display: flex;
}

.logo-footer {
  color: var(--total-white);
}

.footer-adress {
  color: var(--total-white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* footer contact */
.footer-items:not(:last-child) {
  margin-bottom: 9px;
}

.footer-mail,
.footer-phone {
  font-style: normal;
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-adress:hover,
.footer-adress:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
  color: var(--accent-color);
}

.social-footer {
  display: flex;
}

.subscribe {
  margin-left: 70px;
}

.title-subscribe {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: var(--total-white);
}

.footer-block {
  display: flex;
  align-items: baseline;
}

.social-link-footer {
  width: 44px;
  height: 44px;
  display: flex;
  box-sizing: border-box;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--total-white);

  background-color: rgba(255, 255, 255, 0.1);
}

.social-item-footer:not(:last-child) {
  margin-right: 10px;
}

.social-link-footer:hover,
.social-link-footer:focus {
  fill: var(--total-white);
  background-color: var(--accent-color);
}
