:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --total-white: #ffffff;
  --second-bg-color: #f5f4fa;
  --total-black: #000000;
  --background-hero-footer: #2f303a;
  --color-white: rgb(255, 255, 255, 0.6);
  --card-gap: 30px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--total-white);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */

.header {
  background-color: var(--total-white);
  border: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-studio {
  color: var(--total-black);
}

.site-nav {
  display: flex;
  margin-left: 93px;
  margin-top: 32px;
  margin-bottom: 32px;
}

/* .site-nav .item-nav {
  background-color: tomato;
 
} */
.site-nav .item-nav:not(:last-child) {
  margin-right: 50px;
}

.link-nav {
  display: block;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-nav:hover,
.link-nav:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--background-hero-footer);
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--total-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  max-width: 700px;
  margin: 0 auto;
  margin-bottom: var(--card-gap);
}

.button-hero {
  color: var(--total-white);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  border-color: transparent;
  border-radius: 4px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #188ce8;
}

/* Feature */

.title {
  color: var(--title-text-color);
}

.feature-list {
  display: flex;
}

.feature-card {
  width: calc((100% - 90px) / 4);
}

.feature-list .feature-card:not(:last-child) {
  margin-right: var(--card-gap);
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

/* work */

.work-list {
  display: flex;
}

.work-card {
  margin-right: var(--card-gap);
}

/* team */

.team {
  background-color: var(--second-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-team {
  background-color: var(--total-white);
}

.list-team .card-team:not(:last-child) {
  margin-right: var(--card-gap);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.list-team {
  display: flex;
}

.team-skills {
  padding: var(--card-gap) 10px;
}

/* Examples */

.examples {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
}

.examples .examples-card {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

.examples-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.examples-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.examples-variety {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.filtr {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filtr-button {
  background-color: var(--second-bg-color);
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-color: transparent;
  border-radius: 4px;

  padding: 6px 22px;
}

.filtr .filtr-item:not(:last-child) {
  margin-right: 8px;
}

.filtr-button:hover,
.filtr-button:focus {
  color: var(--total-white);
  background-color: var(--accent-color);
}

/* footer */

.footer {
  background-color: var(--background-hero-footer);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-webstudio {
  margin-bottom: 20px;
}
.logo-footer {
  color: var(--total-white);
}

.footer-adress {
  color: var(--total-white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 9px;
}

/* footer contact */
.footer-mail {
  margin-bottom: 9px;
}

.footer-mail,
.footer-phone {
  font-style: normal;
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-adress:hover,
.footer-adress:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
  color: var(--accent-color);
}

/* вторинний колір #212121 */

/* основний колір #757575; */

/* білий #FFFFFF; */

/* акценти #2196F3; */
/* команда background: #F5F4FA; */
/* підвал background: #2F303A; */
